<div id="navigationHeader" class="documentationNavigationHeader">
    <h2>
            {%- assign url = page.url | split: "/" -%}
        <a href="{{-  url[1] | absolute_url  -}}/{{- url[2] -}}">
            {% assign logo = '/assets/img/logo_' | append: page.collection | | append: '.png' }} }} %}
            <img src="{{-  logo | relative_url  -}}" />
            
                

                <span>{{  url[1]  | capitalize  }}  {{  url[2]  }}</span>
        </a>
    </h2>
    <form class="searchBox" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>
    </form>
</div>

<div class="documentationNavigation">
  
    {% assign coll = site.collections | where: "label", page.collection | first %}

    {%- assign mydocs = coll.docs | where: "version", url[2] | sort: 'order'  -%}

    <!-- Create an array to store the current category -->
    {%- assign currentCat = "" | split: ""  -%}

    <!-- Start iterate in categories  -->
    <ul>
    {%- for docCats in mydocs -%}
 
        <!-- create an array with all categories corresponding to a node in the taxonomy  -->
        {%- assign cats = docCats.categories -%} 
        {%- assign saveCats = cats -%}

        {%- assign sizeCc = currentCat | size -%}
        {%- assign sizeC = cats | size -%}

        {%- assign min_coll = currentCat -%}
        {%- if sizeC < sizeCc -%}
            {%- assign min_coll = cats -%}
        {%- endif -%}


        {%- for cat in min_coll -%}
            {%- assign shift_Cc = currentCat[0] -%}    
            {%- assign shift_C = cats[0] -%}    
        
            {%- if shift_Cc == shift_C -%}
                {%- assign currentCat = currentCat | shift -%}
                {%- assign cats = cats | shift -%}

            {%- else -%}
                {%- break -%}
            {%- endif -%}    
        {%- endfor -%}


            {%- for catCc in currentCat -%}
               
                {%- if catCc == "" or catCc == "nil" -%}
                    {%- break -%}
                {%- endif -%}
                </ul></li>
              
            {%- endfor -%}
 
            {%- for cat in cats -%} 
            
                {%- if cat == "" or cat == "nil" -%}  
                    {%- break -%}
                {%-else-%}
                    {%- assign test = cat | remove: '"' | slugify -%}
                        <li><a role="button" data-toggle="collapse"  href="#{{- test -}}" aria-controls="{{- test -}}"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><strong>{{- cat | remove: '"' -}}</strong></a><ul id="{{- test -}}" class="collapse"> 
                {%- endif -%}
            {%- endfor -%}
        
            {%- assign items = docCats.items  -%}
          {%- if docCats.title == "index" -%}
                            {%- continue -%}
                        {%- endif -%}
                <li class="{%- if docCats.url == page.url -%}active{%- endif -%}" ><i class="fa fa-circle-o" aria-hidden="true"></i> <a href="{{- docCats.url -}}">{{- docCats.title -}}</a></li>
       
       {%- assign currentCat = saveCats -%}
{%- endfor -%}
</ul>
</div>