@import 'variables';

.documentationHeader {
  .navbar-brand {
    padding: 3px;
  }
  .navbar-default {
      background-color: $primary-color;
      margin-bottom: 0px;

      ul.nav.navbar-nav > li {
          &.active > a.version {
              background-color: $active-color;
          }
          > a.version {
              &:hover {
                  background-color: #e7e7e7;
              }
              color: white;
              &:hover {
                  color: grey;
              }
          }
          &.open > a.version {
              color: grey;
          }
      }
      ul.dropdown-menu > li {
        > a.version {
          &:hover {
             color: $active-color;
          }
        }
        > a.dropdown-toggle {
          cursor: default;
        }
      }
  }

  #top-links {
      background-color: #000;
  }

  ul.inline {
      margin: 0 50px 0 0;
      padding: 0;
      font-size: 0.9em;
      li {
          display: inline-block;
          margin: 0 0 0 8px;
      }
  }

    .dropdown-submenu {
        position:relative;
    }
    .dropdown-submenu>.dropdown-menu {
        top:0;
        left:100%;
        margin-top:-6px;
        margin-left:-1px;
        -webkit-border-radius:0 6px 6px 6px;
        -moz-border-radius:0 6px 6px 6px;
        border-radius:0 6px 6px 6px;
    }
    .dropdown-submenu:hover>.dropdown-menu {
        display:block;
    }
    .dropdown-submenu>a:after {
        display:block;
        content:" ";
        float:right;
        width:0;
        height:0;
        border-color:transparent;
        border-style:solid;
        border-width:5px 0 5px 5px;
        border-left-color:#cccccc;
        margin-top:5px;
        margin-right:-10px;
    }
    .dropdown-submenu:hover>a:after {
        border-left-color:#ffffff;
    }
    .dropdown-submenu.pull-left {
        float:none;
    }
    .dropdown-submenu.pull-left>.dropdown-menu {
        left:-100%;
        margin-left:10px;
        -webkit-border-radius:6px 0 6px 6px;
        -moz-border-radius:6px 0 6px 6px;
        border-radius:6px 0 6px 6px;
    }
}